.bg {
    width: 800px;
    height: 600px;
    background-image: url('bg.jpg');
    background-size: cover;
    border-radius: 60px;
    color: rgb(109, 20, 39);
    font-family: 'Gentium Plus', serif;
    box-sizing: border-box;
    padding-top: 130px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 50px;
}

h2 {
    text-align: center;
    margin: 0;
}